<h1>My Todos</h1>

<div class="alert alert-success" *ngIf='infoMessage'>{{infoMessage}}</div>
<div class="container">
    <table class="table" border="1">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>Is Completed ?</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todoObject of todos">
                <td>{{todoObject.description}}</td>
                <td>{{todoObject.targetDate | date}}</td>
                <td>{{todoObject.done}}</td>
                <td><button type="button" class="btn btn-warning" (click)="deleteToDoById(todoObject.id,todoObject.username)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>